﻿@model LastGamePortal.Models.News

@{
    ViewBag.Title = "Delete";
}

<h2>Haber Sil</h2>

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Liste Dön", "Index") |
        <input type="submit" value="Sil" class="btn btn-danger btn-rounded" />

    </div>
    }
</div>
