﻿@model LastGamePortal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Şifre:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Şifremi Değiştir", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dd>
          @if (ViewBag.Dash !=null)
          {
            <a  href="~/Dashboard/DHome" class="btn btn-default btn-rounded">Yönetim Paneli</a>
          }
        </dd>
 
    </dl>
</div>
