﻿@model LastGamePortal.Areas.Dashboard.Models.Sliders
@using LastGamePortal.Areas.Dashboard.Models
@{
    ViewBag.Title = "Slider Yönetimi";
}


<div class="row">
    <div class="col-md-10">
        <h2 class="text-muted">@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#AddSlider">
            Yeni Slider Ekle
        </button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Slider No </th>
                    <th scope="col">Slider Başlığı</th>
                    <th scope="col">Slider Açıklaması</th>
                    <th scope="col"></th>
    
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (Sliders item in ViewBag.List)
                    {
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td>@item.Text</td>
                        <td><a class="btn btn-danger btn-sm"  href="~/Dashboard/Slider/RemoveSlider?Id=@item.Id"><i class="fas fa-trash"></i> Sil</a></td>
                    }


                </tr>
           
            </tbody>
        </table>
    </div>


</div>


@using (Html.BeginForm("AddSlider", "Slider", FormMethod.Post, new { enctype = "multipart/form-data", id="form5" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal fade" id="AddSlider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Slider Ekle</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mx-4">
                    <!--Body-->
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Slider Başlığı Gir", required = "required" })
                        @Html.LabelFor(m => m.Title, new { @class = "active" })

                    </div>
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", placeholder = "Slider Başlığı Gir", required = "required" })
                        @Html.LabelFor(m => m.Text, new { @class = "active" })
                    </div>
                    <div class="md-form">
                        <div class="file-field">
                            <div class="z-depth-1-half mb-4">
                                <img id="output" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                                     alt="example placeholder">
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                    <span>Resim Seç</span>
                                    <input accept="image/*" required  onchange="readURL(this);" type="file" name="file">
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#output')
                                        .attr('src', e.target.result);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Kaydet</button>
                    </div>

                </div>
            </div>
            <script type="text/javascript" language=javascript>

       

            </script>
            <!--/.Content-->
        </div>
    </div>
    <!-- Modal -->



}
