﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
         <li class="nav-item">
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {@class= "nav-link", title = "Manage" })
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Çıkış Yap</a></li>
  
}
else
{
   
        <li class="nav-item ">@Html.ActionLink("Kayıt Ol", "Register", "Account", routeValues: null, htmlAttributes: new {@class="nav-link" ,id = "registerLink" })</li>
        <li class="nav-item">@Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink" })</li>
   
}
