﻿
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="~/">Last Game Portal</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <!-- Dropdown -->
                <li class="nav-item ">
                    <a class="nav-link" href="~/" id="navbarDropdownMenuLink"><i class="fas fa-home"></i> Ana Sayfa</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Home/Index?Likeds=true" id="navbarDropdownMenuLink"><i class="fas fa-heart"></i> En Çok Beğeni Alanlar</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Home/Index?Read=true" id="navbarDropdownMenuLink"><i class="fas fa-heart"></i> En Çok Okunanlar</a>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
            <!-- Links -->
            <!-- Search form -->
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Ara" aria-label="Ara">
                </div>
            </form>
            
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</header>