﻿<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/richtext.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <style>
    </style>
</head>
<body class="fixed-sn white-skin">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li class="logo-sn waves-effect">
                    <div class="text-center">
                        <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" class=""></a>
                    </div>
                </li>
                <!--/. Logo -->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="~/Dashboard/News" class="collapsible-header waves-effect">
                                <i class=" fas fa-th-large"></i>
                                Haberler
                            </a>
                        </li>
                        <li>
                            <a href="~/Dashboard/Categories" class="collapsible-header waves-effect">
                                <i class=" fas fa-th-large"></i>
                                Kategoriler
                            </a>
                        </li>
                        <li>
                            <a href="~/Dashboard/Slider/Index" class="collapsible-header waves-effect">
                                <i class=" fas fa-th-large"></i>
                                Slider Yönetimi

                            </a>
                        </li>
                        <li>
                            <a href="~/Dashboard/User/Index" class="collapsible-header waves-effect">
                                <i class=" fas fa-th-large"></i>
                                Kullanıcı Yönetimi

                            </a>
                        </li>

                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>Dashboard v.1</p>
            </div>
            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Çıkış Yap</a>
                        <a class="dropdown-item" href="#">My account</a>
                    </div>
                </li>
            </ul>
            <!--/Navbar links-->
        </nav>
        <!-- /.Navbar -->
        <!-- Fixed button -->
        <div class="fixed-action-btn clearfix d-none d-xl-block" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-lg red">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <ul class="list-unstyled">
                <li><a class="btn-floating red"><i class="fas fa-star"></i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="fas fa-user"></i></a></li>
                <li><a class="btn-floating green"><i class="fas fa-envelope"></i></a></li>
                <li><a class="btn-floating blue"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <!-- Fixed button -->
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer pt-0 mt-5 rgba-stylish-light">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                © 2018 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/mdb.min.js"></script>
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        Ps.initialize(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });

        // Data Picker Initialization
        $('.datepicker').pickadate();

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


    </script>
    <script src="~/Scripts/jquery.richtext.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.richtextedit').richText();

        });

    </script>

    <form action="~/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
        @Html.AntiForgeryToken()

    </form>


</body>
</html>
