﻿@using LastGamePortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<!-- Default form login -->
<div class="row">
<div class="col-md-6" style="margin-left:17%">
   

        <p class="h4 mb-4">Giriş </p>

        <!-- Email -->
        <div id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mb-4", placeholder = "E-Posta" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control mb-4", placeholder = "Şifre" })
                <div class="d-flex justify-content-around">
                    <p>
                        @Html.ActionLink("Kayıt Ol", "Register")
                    </p>
                </div>
                <button class="btn btn-info btn-block my-4 waves-effect waves-light" type="submit">Giriş Yap</button>

            }
        </div>
</div>

</div>

<!-- Default form login -->