﻿@model LastGamePortal.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row" style="margin-left:17%">
        <div class="col-md-6">
            <!-- Material form login -->
            <div class="card ">

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>@ViewBag.Title</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0 mt-5">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control mb-4", placeholder = "E-Posta" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control mb-4", placeholder = "Şifre" })

                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-4", placeholder = "Şifre Tekrar" })
                    <div class="d-flex justify-content-around">
                        <p>
                            Zaten Üyemisin?  @Html.ActionLink("Giriş Yap", "Login")
                        </p>
                    </div>
                    <button class="btn btn-info btn-block my-4 waves-effect waves-light" type="submit">Üye Ol</button>

                </div>

            </div>
            <!-- Material form login -->
        </div>
    </div>
}



