﻿@{
    ViewBag.Title = "Home Page";
}
@using LastGamePortal.Areas.Dashboard.Models
@using LastGamePortal.Models
<!-- Magazine -->
<div class="row mt-2">
    <!-- Main news -->
    <div class="col-xl-8 col-md-12">
        <!--Section: Magazine posts-->
        <section class="section extra-margins listing-section mt-2">
            <h4 class="font-weight-bold"><strong>Balşıca</strong></h4>
            <hr class="red title-hr">
            <style>
                .responsive {
                    width: 100%;
                    height: 400px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            </style>

            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                <!--Slides-->
                <div class="controls-top">
                    <a class="btn-floating btn-secondary" href="#carousel-thumb" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a class="btn-floating btn-secondary" href="#carousel-thumb" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <div class="carousel-inner" role="listbox">
                    @{int count = 0; }
                    @foreach (Sliders item in ViewBag.Sliders)
                    {
                        if (count == 0)
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100 responsive" src="~/Content/uploads/@item.Image"
                                     alt="First slide">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img class="d-block w-100 responsive" src="~/Content/uploads/@item.Image"
                                     alt="Second slide">
                            </div>

                        }
                        count++;
                    }



                </div>
                <!--/.Slides-->
                <!--Controls-->
                <!--/.Controls-->
                <ol class="carousel-indicators">
                    @{count = 0; }
                    @foreach (Sliders item in ViewBag.Sliders)
                    {

                        if (count == 0)
                        {
                            <li data-target="#carousel-thumb" data-slide-to="@count" class="active">
                                <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" width="100">
                            </li>
                        }
                        else
                        {
                            <li data-target="#carousel-thumb" data-slide-to="@count">
                                <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg" width="100">
                            </li>
                        }
                        count++;

                    }



                </ol>
            </div>
            <!--/.Carousel Wrapper-->
            <!--/.Carousel Wrapper-->
            <!--Section: Top news-->
            <section>
                <h4 class="font-weight-bold mt-5"><strong>@ViewBag.PageTitle</strong></h4>
                <hr class="red title-hr">
                <!--Grid row-->
                <div class="row mb-4">
                    <!--Grid column-->
                    @foreach (News item in ViewBag.News)
                    {

                        <div class="col-md-6 text-left mt-3">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    <img class="card-img-top" src="~/Content/uploads/@item.Image" alt=" " width="300" height="250">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title"><strong>@item.Title</strong></h4>
                                    <hr>
                                    <!--Text-->
                                    <p class="card-text mb-3">
                                      @if (item.Text.Length > 50)
                                      {
	                                  	 @item.Text.Substring(0, 50).ToString();@:.....
                                      }
                                      else {
                                          @item.Text
                                      }
                                    </p>
                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="far fa-clock-o"></i>
                                       @item.CreatedOn.ToShortDateString()
                                    </p>
                                    <p>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if ((ViewBag.LikedList as List<Liked>) != null)
                                            {
                                                if ((ViewBag.LikedList as List<Liked>).Where(m => m.News.Id == item.Id).FirstOrDefault() != null)
                                                {
                                                    <i class="fas fa-eye"></i> @item.Views <a href="~/Home/PostLiked?PostId=@item.Id"><i class="fas fa-heart"></i> @item.LikeCount</a> 
                                                }
                                                else
                                                {
                                                    <i class="fas fa-eye"></i> @item.Views <a href="~/Home/PostLiked?PostId=@item.Id"> <i class="far fa-heart"></i> @item.LikeCount</a>
                                                }
                                            }
                                            else
                                            {
                                                <i class="fas fa-eye"></i> @item.Views <a href="~/Home/PostLiked?PostId=@item.Id"><i class="far fa-heart"></i> @item.LikeCount</a> 
                                            }


                                        }
                                        else
                                        {
                                            <i class="fas fa-eye"></i> @item.Views <i class="far fa-heart"></i> @item.LikeCount
                                        }
                                        <a href="~/Home/PostLiked?PostId=@item.Id"><i class="fas fa-like"></i></a>
                                    </p>
                                    <p class="font-small grey-text mb-0">@item.ModifiedUsername</p>
                                    <p class="text-right mb-0 font-small font-weight-bold"><a href="~/Home/PostDetails?Id=@item.Id">Devamını Okumak İçin Tıklayın <i class="fas fa-angle-right"></i></a></p>
                                </div>
                                <!--/.Card content-->
                            </div>
                            <!--/.Card-->
                        </div>
                    }
                </div>
            </section>
    </div>
    <!--/ Main news -->
    <!-- Sidebar -->
    <div class="col-xl-4 col-md-12 widget-column mt-0">
        <!-- Section: Categories -->
        <section class="section mb-5">
            <h4 class="font-weight-bold mt-2"><strong>CATEGORIES</strong></h4>
            <hr class="red title-hr">
            <ul class="list-group z-depth-1 mt-4">
                @foreach (Category item in ViewBag.Categories)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="~/Home/Index?Category=@item.Id" class="text-primary">@item.Title</a>
                        <span class="badge badge-danger badge-pill">@item.CreatedOn.ToShortDateString()</span>
                    </li>
                }

            </ul>
        </section>
        <!-- Section: Categories -->
    </div>
    <!--/ Sidebar -->
</div>
<!--/ Magazine -->