﻿@model LastGamePortal.Models.News
@{
    ViewBag.Title = "Haber Detayı";
}
@using LastGamePortal.Models

<div class="container">

    <!-- Post -->
    <div class="row my-5 py-5">

        <div class="col-12">

            <!--Card-->
            <div class="card card-body mb-5 px-0 py-0">

                <div class="post-data mb-4 ml-4 mt-4">
                    <p class="font-small dark-grey-text mb-1">
                        <strong>Yazar:</strong> @Model.ModifiedUsername
                    </p>
                    <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> @Model.CreatedOn.ToLongDateString()  @Model.CreatedOn.ToLongTimeString()
                    </p>
                    <a href="~/Home/NewsCategory">
                        <span class="badge indigo">@Model.Category.Title</span>
                    </a>
                </div>

                <!--Title-->
                <h1 class="font-weight-bold mt-3 text-center">
                    <strong>@Model.Title</strong>
                </h1>
                <hr class="red title-hr">
                @if (!string.IsNullOrEmpty(Model.Image))
                {

                    <img src="~/Content/uploads/@Model.Image" height="500" width="1000" class="img-fluid z-depth-1 mx-4 rounded" alt="sample image">
                }

                <!--Grid row-->
                <div class="row px-4">

                    <!--Grid column-->
                    <div class="col-md-6 mt-4">

                        <h5 class="font-weight-bold dark-grey-text">
                            <i class="far fa-lg fa-newspaper mr-3 dark-grey-text"></i>
                            <strong>@Model.Views</strong> Görüntülenme
                        </h5>

                    </div>
                    <br />

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row mx-md-5 px-md-4 px-5 mt-3">
                    @Html.Raw(Model.Text)

                </div>
                <hr>

                <!--Grid row-->
                <div class="container-fluid px-5" style="background-color: #d7dadf">

                    <h5 class="font-weight-bold mt-5">
                        <strong>Bu kategoride ilginizi çekebilecek diğer haberler</strong>
                    </h5>
                    <hr class="pink accent-3 title-hr">

                    <!--Grid row-->
                    <div class="row mb-4">
                        <!--Grid column-->
                        <!--Grid column-->
                        @foreach (News item in ViewBag.NewsList)
                        {
                            <div class="col-lg-4 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay rgba-white-slight">
                                        <img src="~/Content/uploads/@item.Image" width="318" height="140" class="card-img-top" alt="">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>@item.Title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text mb-3">
                                            @if (item.Text.Length > 50)
                                            {
                                                @item.Text.Substring(0, 50).ToString();@:.....
                                            }
                                            else
                                            {
                                                @Html.Raw(item.Text)
                                            }
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1">
                                            <i class="far fa-clock-o"></i>
                                            @item.CreatedOn.ToShortDateString()
                                        </p>
                                        <p class="font-small grey-text mb-0">@item.ModifiedUsername</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="~/Home/PostDetails?Id=@item.Id">Devamını Okumak İçin Tıklayın <i class="fas fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->
                            </div>
                        }

                        <!--Grid column-->

                    </div>
                    <!--/Grid row-->
                </div>

            </div>
            <!--/.Card-->
            <!--Comments-->
            <section>

                <!--Main wrapper-->
                <div class="comments-list text-center text-md-left">
                    <div class="text-center my-5">
                        <h3 class="font-weight-bold">
                            Comments
                            <span class="badge indigo">@Model.Comments.Count</span>
                        </h3>
                    </div>
                    <!--First row-->
                    @foreach (Comment item in Model.Comments)
                    {
                        <div class="row mb-5">
                            <!--Image column-->
                            <div class="col-sm-2 col-12 mb-3">
                                <img src="~/Content/uploads/user.png" class="avatar rounded-circle z-depth-1-half" alt="sample image">
                            </div>
                            <!--/.Image column-->
                            <!--Content column-->
                            <div class="col-sm-10 col-12">
                                <a>
                                    <h5 class="user-name font-weight-bold">@item.ModifiedUsername</h5>
                                </a>
                                <div class="card-data">
                                    <ul class="list-unstyled">
                                        <li class="comment-date font-small">
                                            <i class="far fa-clock-o"></i> @item.CreatedOn.ToShortDateString()
                                        </li>
                                    </ul>
                                </div>
                                <p class="dark-grey-text article">
                                    @item.Text
                                </p>
                            </div>
                            <!--/.Content column-->
                        </div>
                    }


                </div>
                <!--/.Main wrapper-->

            </section>
            <!--/Comments-->
            <!--Section: Leave a reply (Not Logged In User)-->
            <section class="mb-4 mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-12">
                        <div class="reply-form">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("AddComment", "Home",new {PostId=Model.Id },FormMethod.Post,new { }))
                                {
                                    @Html.AntiForgeryToken();
                                    <div class="md-form">
                                        <i class="fas fa-edit prefix grey-text"></i>
                                        <input  required min="5" name="commentText" type="text" id="replyForm-name" class="form-control">
                                        <label for="replyForm-name">Yorumunuz</label>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-indigo btn-rounded waves-effect waves-light">Yorum Yap</button>
                                    </div>
                                }
                            }
                            else
                            {
                                    <p class="text-center"> Yorum yapmak için <a href="~/Account/Login?returnUrl=~/Home/PostDetails?Id=@Model.Id">Giriş Yap</a></p>  
                            }

                            <!--Leave a reply form-->




                        </div>
                        <!--/.Leave a reply form-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--/Section: Leave a reply (Not Logged In User)-->

        </div>
        <!--/ Post -->
    </div>

    <!--/ Magazine -->
</div>
